/* Events */

	/* Clients */
	
		/* List */
		
			.page.event.clients .descriptionButton {
				cursor: pointer;
				color: blue;
				text-decoration: underline;
			}
			
			.page.event.clients .descriptionFull {
				white-space: pre-wrap;
			}
			
			.page.event.clients .actionButtons {
				text-align: center;
			}
			
			.page.event.clients .actionButtons .icon {
				margin: 0 5px;
				cursor: pointer;
			}