/*
//-----------------New CSS File---------------------
//Style for the item/hardware page
//-----------------New CSS File---------------------*/

/* Overview / Consumables  */

.page.item.overview .generalTableContentRow {
	cursor: pointer;
}

.page.item.consumable .generalTableContentRow .itemAmountField {
	text-align: center;
}

.page.item.consumable .generalTableContentRow .consumableAmountButton {
	text-align: center;
	cursor: pointer;
}

/* Colours for consumable amount */

.page.item.consumable .itemAmountField.consumableAmountHigh {
	background-color: #008000Ac;
	color: white;
}

.page.item.consumable .itemAmountField.consumableAmountMedium {
	background-color: #ffc109Bc;
	color: white;
}

.page.item.consumable .itemAmountField.consumableAmountLow {
	background-color: #ff572Acc;
	color: white;
}

.page.item.consumable .itemAmountField.consumableAmountVeryLow {
	background-color: #f13a00;
	color: white;
}

/* Lend Items */

.page.item.lended .generalTableContentRow .itemAmountField {
	text-align: center;
}

.page.item.lended .generalTableContentRow .lendAmountButton {
	text-align: center;
	cursor: pointer;
}

.page.item.addLend .generalTableContentRow .addLendButton {
    background-color: #2271b1;
    width: 80%;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    text-decoration: none;
}

.page.item.addLend .lendNewItemConatiner .td {
	height: 66px;
	line-height: 54px;
}

/* edit item */

.page.item.edit .inputBlock,
.page.item.new .inputBlock {
	padding: 10px;
}


