/* edit storage */

.page.storage.edit .inputBlock,
.page.storage.new .inputBlock {
	padding: 10px;
}

/* overview */

.page.storage.overview .generalTableContentRow {
	cursor: pointer;
}

/* grid */

@media screen and (min-width: 1000px) {
	.page.storage.edit .shelfAlignmentContainer .shelfGrid.mobileGrid{
		display: none;
	}
	
	.page.storage.edit .shelfAlignmentContainer .openBoxes {
		display: inline-block;
	}
}

@media screen and (max-width: 999px) {
	.page.storage.edit .shelfAlignmentContainer .openBoxes,
	.page.storage.edit .shelfAlignmentContainer .shelfGrid.desktopGrid,
	.page.storage.edit .shelfAlignmentContainer .saveGridButton{
		display: none;
	}

}

.page.storage.edit .shelfAlignmentContainer .openBoxes {
	border: 3px solid #383838;
	width: 200px;
	float: left;
	min-height: 40px;
}

.page.storage.edit .shelfAlignmentContainer .openBoxes .option{
	padding: 5px;
	background-color: #2271b1;
	color: white;
	border-bottom: 2px solid #383838;
	text-align: center;

}

.page.storage.edit .shelfAlignmentContainer .shelfGrid {
	border: 3px solid #383838;
	display: inline-block;
	overflow-y: hidden;
	overflow-x: scroll;
}

.page.storage.edit .shelfAlignmentContainer .shelfGrid.desktopGrid {
	min-width: 200px;
	max-width: calc(100% - 230px);
	margin-left: 10px;
}

.page.storage.edit .shelfAlignmentContainer .shelfGrid.mobileGrid{ 
	max-width: 100%;
}

.page.storage.edit .shelfAlignmentContainer .shelfGrid .gridRow{
	height: 100px;
	white-space:nowrap;
}

.page.storage.edit .shelfAlignmentContainer .shelfGrid .gridRow .gridBox{
	height: 100px;
	width: 100px;
	border: 1px solid #383838;
	display: inline-block;
	line-height: 100px;
	text-align: center;
}

.page.storage.edit .shelfAlignmentContainer .shelfGrid .gridRow .gridBox .positionInfo{ 
	z-index: 2;
}

.page.storage.edit .shelfAlignmentContainer .shelfGrid .gridRow .gridBox .option{
	width: 100%;
	height: 100%;
	background-color: #2271b1;
	color: white;
	display: table;
	z-index: 5;
}