RewriteEngine On
RewriteBase /coursework/public/


#Index

RewriteCond %{THE_REQUEST} ^.*/index\.php [NC]
RewriteRule ^(.*)index.php$ $1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index\.html [NC]
RewriteRule ^(.*)index.html$ $1 [R=301,L] 

#-----------------------------------------

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#User

RewriteRule ^login$ login_logout.php?request=login [QSA,NC,L]
RewriteRule ^logout$ login_logout.php?request=logout [QSA,NC,L]

RewriteRule ^profile$ user_profile.php?request=profile [QSA,NC,L]
RewriteRule ^profile/(.+)$ user_profile.php?request=profile&username=$1 [QSA,NC,L]

RewriteRule ^notifications$ notifications_page.php?request=list [QSA,NC,L]

#Storage

RewriteRule ^storage$ storage_page.php?request=overview [QSA,NC,L]
RewriteRule ^storage/new$ storage_page.php?request=new [QSA,NC,L]
RewriteRule ^storage/edit/([0-9-]+)$ storage_page.php?request=edit&ID=$1 [QSA,NC,L]


#Item

RewriteRule ^item$ item_page.php?request=overview [QSA,NC,L]
RewriteRule ^item/consumable$ item_page.php?request=consumable [QSA,NC,L]
RewriteRule ^item/new$ item_page.php?request=new [QSA,NC,L]
RewriteRule ^item/edit/([0-9-]+)$ item_page.php?request=edit&ID=$1 [QSA,NC,L]
RewriteRule ^item/lended$ item_page.php?request=lended [QSA,NC,L]
RewriteRule ^item/lend/add$ item_page.php?request=addLend [QSA,NC,L]

#Todo

RewriteRule ^todo/personal$ todo_page.php?request=overviewPersonal [QSA,NC,L]
RewriteRule ^todo/personal/([0-9-]+)$ todo_page.php?request=overviewPersonal&listID=$1 [QSA,NC,L]
RewriteRule ^todo/global$ todo_page.php?request=overviewGlobal [QSA,NC,L]
RewriteRule ^todo/global/([0-9-]+)$ todo_page.php?request=overviewGlobal&listID=$1 [QSA,NC,L]
RewriteRule ^todo/category$ todo_page.php?request=categoryOverview [QSA,NC,L]
RewriteRule ^todo/category/new$ todo_page.php?request=categoryNew [QSA,NC,L]
RewriteRule ^todo/category/edit/([0-9-]+)$ todo_page.php?request=categoryEdit&ID=$1 [QSA,NC,L]

#Settings

RewriteRule ^settings/user$ user_profile.php?request=personal_data [QSA,NC,L]
RewriteRule ^settings/notifications$ notifications_page.php?request=requestList [QSA,NC,L]

RewriteRule ^verify$ verify_email_request.php?request=verify [QSA,NC,L]
RewriteRule ^verify/([A-Z0-9]*)$ verify_email_request.php?request=verify&code=$1 [QSA,NC,L]

#-----------------------------------------

#Block

RewriteCond %{THE_REQUEST} ^.*/login_logout\.php [NC]
RewriteRule ^(.*)login_logout.php$ 404 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/storage_page\.php [NC]
RewriteRule ^(.*)storage_page.php$ 404 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/item_page\.php [NC]
RewriteRule ^(.*)item_page.php$ 404 [R=301,L]


RewriteCond %{THE_REQUEST} ^.*/user_profile\.php [NC]
RewriteRule ^(.*)user_profile.php$ 404 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/verify_email_request\.php [NC]
RewriteRule ^(.*)verify_email_request.php$ 404 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/todo_page\.php [NC]
RewriteRule ^(.*)todo_page.php$ 404 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/notifications_page\.php [NC]
RewriteRule ^(.*)notifications_page.php$ 404 [R=301,L]

#-----------------------------------------

#Error


ErrorDocument 404 /coursework/public/404.php




