RewriteEngine On
RewriteBase /coursework/public/


#Index

RewriteCond %{THE_REQUEST} ^.*/index\.php [NC]
RewriteRule ^(.*)index.php$ $1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index\.html [NC]
RewriteRule ^(.*)index.html$ $1 [R=301,L] 

#-----------------------------------------

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#User

RewriteRule ^login$ login_logout.php?request=login [QSA,NC,L]
RewriteRule ^logout$ login_logout.php?request=logout [QSA,NC,L]

RewriteRule ^profile$ user_profile.php?request=profile [QSA,NC,L]
RewriteRule ^profile/(.+)$ user_profile.php?request=profile&username=$1 [QSA,NC,L]

RewriteRule ^notifications$ notifications.php?request=list [QSA,NC,L]

#Storage

RewriteRule ^storage$ storage.php?request=overview [QSA,NC,L]
RewriteRule ^storage/new$ storage.php?request=new [QSA,NC,L]
RewriteRule ^storage/edit/([0-9-]+)$ storage.php?request=edit&ID=$1 [QSA,NC,L]


#Item

RewriteRule ^item$ item.php?request=overview [QSA,NC,L]
RewriteRule ^item/consumable$ item.php?request=consumable [QSA,NC,L]
RewriteRule ^item/new$ item.php?request=new [QSA,NC,L]
RewriteRule ^item/edit/([0-9-]+)$ item.php?request=edit&ID=$1 [QSA,NC,L]
RewriteRule ^item/lended$ item.php?request=lended [QSA,NC,L]
RewriteRule ^item/lend/add$ item.php?request=addLend [QSA,NC,L]

#Settings

RewriteRule ^settings/user$ user_profile.php?request=personal_data [QSA,NC,L]

RewriteRule ^verify$ verify_email_request.php?request=verify [QSA,NC,L]
RewriteRule ^verify/([A-Z0-9]*)$ verify_email_request.php?request=verify&code=$1 [QSA,NC,L]

#-----------------------------------------

#Block

RewriteCond %{THE_REQUEST} ^.*/login_logout\.php [NC]
RewriteRule ^(.*)login_logout.php$ 404 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/storage\.php [NC]
RewriteRule ^(.*)storage.php$ 404 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/user_profile\.php [NC]
RewriteRule ^(.*)user_profile.php$ 404 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/verify_email_request\.php [NC]
RewriteRule ^(.*)verify_email_request.php$ 404 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/notifications\.php [NC]
RewriteRule ^(.*)notifications.php$ 404 [R=301,L]

#-----------------------------------------

#Error


ErrorDocument 404 /coursework/public/404.php




